*{
    margin: 0;
    padding: 0;
}

.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;;
    border-radius: 80%;
}

.middle{
    position: relative;
    left: 25%;
    padding-bottom: 0px;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}